body{
    margin:0;
    cursor: url("media/images/star-4pt-round.svg"), auto;
}
canvas{
    display:block;
}


a{
    text-decoration: none;
   color: black;
   

}

a:hover {

    text-shadow: 0 0 12px pink, 0 0 20px hotpink;
}
   
.hover-link {
    cursor: url('media/images/star-4pt-round.png'), pointer;
  }
  
  .preview-area {
    cursor: url('media/images/star-4pt-round.png'), auto;
  }

.layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
 
  }
  
  .project-list {
    display: flex;
    flex-direction: column;
   
  
  }
  
  .hover-link {
    font-size: 12px;
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    font-family: 'archivo', sans-serif;
    font-weight: 100;
    padding: 4px;
    
   
  }
  
  .hover-link:hover {
    color: pink;
  }
  
  .preview-area {

    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center;     /* centers vertically */
 
    overflow: hidden;

    width: 80%;
    height: 80vh;
    overflow: hidden;
    position: relative;

    margin-left: 100px;
    margin-right: auto;
   
   
    
  }
  
  .preview-area img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain; /* Prevents distortion */
   align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    filter: drop-shadow 1 1 10px rgba(0, 0, 0, 0.5);
  
   
  }
  

#background-image{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5%;
    height: 5%;
    object-fit: cover;
    z-index: -1; /* Behind other content */
   
}

#logo2{
    position: absolute;
    top: 45%;
    left: 1%;
    width: 5%;
    height: 8%;

    z-index: -1; /* Behind other content */
}











.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-top: 15px;
    width: 95%;
    font-size: 12px;
    font-weight: 100;
    font-family: 'archivo', sans-serif;
  }
  
  .logo {
    font-size: 36px;
    /* font-family: 'Almendra Display', serif; */
    font-family: 'pinyon script', cursive;
    font-weight: 100;
    font-weight: bold;
  }

#image{
    width: 100%;
}




.parent-container {
    display: flex;
    justify-content: space-around; /* Distributes space evenly */
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0 auto;
    align-items: flex-start; /* Optional: align top edges */

  }


  




  .flex-container-text {
    display: none;
    flex-direction: column;
    width: 20%;              /* stays narrow */
    height: auto;
    flex-wrap: wrap;
    margin-left: 0;
    justify-content: flex-start;   /* correct keyword */
    align-items: flex-start;       /* correct keyword */
    background-color: pink;
   
}

.flex-container-images {
    display: none;
    flex-direction: column;
    width: 80%; /* Adjust the width as needed */
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


   
}


.flex-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin-bottom: 10px;
    object-fit: contain;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:10px;
}


.images {
    width: 100%; /* Set the width of the container */
    height: 100%; /* Set the height of the container */
    overflow: hidden; /* Hide any overflow */
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the container while maintaining aspect ratio */
    
}

h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
   font-weight: bold;
    padding-bottom: 20px;
    justify-content: center;
    text-align: center;
    color: black;
}

h2:hover{
    background-color: cyan;
}

#otherdans{
    width: 100%;
    object-fit: cover;
    height: 90%;
    object-position: 50% 20%;

    
}  

#otherdans:hover{
    opacity: 0.3;
}

#lamosca{
    width: 100%;
    object-fit: cover;
    height: 90%;
}
#lamosca:hover{
    opacity: 0.3;
}

#postmodernzine{
    width: 100%;
    object-fit: cover;
    height: 90%;
}

#postmodernzine:hover{
    opacity: 0.3;
}
#designforum{
    width: 100%;
    object-fit: cover;
    height: 90%;
}

#designforum:hover{
    opacity: 0.3;
}

#longing{
    width: 100%;
    object-fit: cover;
    height: 90%;
    object-position: 50% 100%;
}

#longing:hover{
    opacity: 0.3;
}

#bjorkposter{
    width: 100%;
    object-fit: cover;
    height: 90%;
}
#bjorkposter:hover{
    opacity: 0.3;
}

#riso{
    width: 100%;
    object-fit: cover;
    height: 90%;
    object-position: 50% 80%;
}

#riso:hover{
    opacity: 0.3;
}

#perfect-cup{
    width: 100%;
    object-fit: cover;
    height: 90%;
    object-position: 50% 80%;
}

#perfect-cup:hover{
    opacity: 0.3;
}


.mobile-container {
    max-width: 480px;
    margin: auto;
    
    height: 500px;;
    border-radius: 10px;
    display: none;
    padding-bottom: 20px;
  }
  

  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'courier new', sans-serif;
    font-size: 17px;
    display: none;
   
  }
  
  .topnav a.icon {
  
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #da407b;
   
  }
  
  .active {

    color: #F2F0EB;
  }






/* Media Queries */


@media screen and (max-width: 768px) {
    .flex-container-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .flex-container1, .flex-container2, .flex-container3, .flex-container4,
    .flex-container5, .flex-container6, .flex-container7, .flex-container8 {
        width: 48%; /* Two columns */
        height: 45vh;
    }

    h2 {
        font-size: 16px;
    }
}






@media screen and (max-width: 480px) {
.header{
    display: none;
}

.logo{
    display: none;
}

.layout{
    display: none;
}

.project-list{
    display: none;
}

    .flex-container-images{
    display: block;
}

.flex-container-text{
    display: block;}

    .flex-container-header {
      display: none;
    }

    #home, #about, #contact {
        font-size: 14px;
        padding: 9px 10px;
    }

    .parent-container {
        flex-direction: column;
        align-items: center;
    }

    .flex-container1, .flex-container2, .flex-container3, .flex-container4,
    .flex-container5, .flex-container6, .flex-container7, .flex-container8 {
        width: 100%; /* Full width */
        height: auto; /* Auto height to fit content */
        margin: 5px 0; /* Reduce margin */
    }

    .images {
        width: 100%; /* Ensure container is full width */
        height: 50vh; /* Set a consistent height for images */
    }

    .images img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures all images cover the container */
    }



    h2 {
        font-size: 18px;
    }


    .mobile-container {
        max-width: 480px;
        margin: auto;
        padding: 10;
        height: 500px;;
        border-radius: 10px;
        display: block;
        padding-bottom: 20px;
      }
      
    
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: black;
        padding: 10px;
        text-decoration: none;
        font-family: 'courier new', sans-serif;
        font-size: 14px;
        display: block;
        font-weight: 300;
        text-align: left;
       
      }
      
      .topnav a.icon {
      
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
      }
      
      .topnav a:hover {
        background-color: plum;
       
      }
      
      .active {
    
       color: white;
      }







}
