body{
    margin:0;
}
canvas{
    display:block;
}

a{
    text-decoration: none;
   

}

.flex-container-header{
display: flex;
flex-direction: row;
justify-content: space-between;
border: solid black 1px;
font-family: 'Noto', serif;
}

h1{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.parent-container{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: row;

}

.flex-container1{
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 55vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    /* object-fit: contain; */
    margin-left: 10px;
    margin-right: 5px;
    margin-top:10px;
}

.flex-container2{
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 55vh;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    object-fit: contain;
    margin-top:10px;
}

.flex-container3{
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 55vh;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    object-fit: contain;
    margin-top:10px;
}

.flex-container4{
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 55vh;
    margin-bottom: 10px;
    object-fit: contain;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:10px;
}


.flex-container5{
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 55vh;
    margin-bottom: 10px;
    object-fit: contain;
    margin-left: 10px;
    margin-right: 5px;
    margin-top:10px;
}

.flex-container6{
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 55vh;
    margin-bottom: 10px;
    object-fit: contain;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:10px;
}

.flex-container7{
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 55vh;
    margin-bottom: 10px;
    object-fit: contain;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:10px;
}

.flex-container8{
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 55vh;
    margin-bottom: 10px;
    object-fit: contain;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:10px;
}


.images {
    width: 100%; /* Set the width of the container */
    height: 100%; /* Set the height of the container */
    overflow: hidden; /* Hide any overflow */
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the container while maintaining aspect ratio */
    object-position: 50% 20%;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    padding-left: 20px;
    padding-bottom: 20px;
    justify-content: center;
    text-align: center;
    color: black;
}

#otherdans{
    width: 100%;
    object-fit: cover;
    height: 90%;

    
}  

#otherdans:hover{
    opacity: 0.3;
}

#lamosca{
    width: 100%;
    object-fit: cover;
    height: 90%;
}
#lamosca:hover{
    opacity: 0.3;
}

#postmodernzine{
    width: 100%;
    object-fit: cover;
    height: 90%;
}

#postmodernzine:hover{
    opacity: 0.3;
}
#designforum{
    width: 100%;
    object-fit: cover;
    height: 90%;
}

#designforum:hover{
    opacity: 0.3;
}

#longing{
    width: 100%;
    object-fit: cover;
    height: 90%;
}

#longing:hover{
    opacity: 0.3;
}

#bjorkposter{
    width: 100%;
    object-fit: cover;
    height: 90%;
}
#bjorkposter:hover{
    opacity: 0.3;
}

#risocal{
    width: 100%;
    object-fit: cover;
    height: 90%;
}

#risocal:hover{
    opacity: 0.3;
}